:root{
    --color:purple;
}

* {
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color:bisque;
}

nav {
    display: flex;
    flex-wrap: wrap;
    color: tomato;
    justify-content: space-between;
    border: 5px solid black;
    padding: 10px;
    font-size: large;
}

h1 {
    font-size: xx-large;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    color: tomato;
}

ul li a {
    color: tomato;
}

#aboutMe {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
}

#aboutMe h2 {
    font-size: 40px;
    padding: 10px;
}

#hero {
    color: goldenrod;
    display: flex;
    justify-content: center;
    border: none;
    padding: 4px;
    margin: 5px;
}

section {
    border: 5px solid black;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section h3 {
    padding: 10px;
    
}

h2 {
    color: tomato;
}

#myWork {
    border: 5px;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    border-bottom: 1px solid black;
    padding: 15px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work {
    display: flex;
    flex: 1 0 400px;
}

.workMain {
    display: flex;
    flex: 1 0 600px;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid black;
    margin-top: 10px;
}

h5 {
    font-size: larger;
    padding: 10px;
}

 /* Having trouble with a full page background */

/* #img0 {
    background-image: url("../images/star-wars-death-star-at-at-space-wallpaper-preview.jpeg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
  } */

.img1 {
    background-image: url("/assets/images/399-3999624_star-wars-pixel-art-hd-png-download.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  #img1 {
    background-image: url("/assets/images/399-3999624_star-wars-pixel-art-hd-png-download.png");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #img2 {
    background-image: url("/assets/images/Sal1.jpg");
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (max-width: 1000px) {
    section {
        flex-direction: column;
    }
  }