/* Allows to repetitive variables to make maintaince eaiser */
:root {
    --color: navy;
    --color2: seagreen;
    --color3: black;
    --color4: rgb(18, 222, 171);
    --background-color: rgb(148, 172, 141);
    --background-color2: rgb(159, 129, 158);
    --padding: 10px;
    --display: flex;
    --flex-wrap: wrap;
  }

* {
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color:var(--background-color);
}

nav {
    display: var(--display);
    flex-wrap: var(--flex-wrap);
    color: var(--color);
    background-color: var(--background-color2);
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    border: 5px solid var(--color3);
    padding: var(--padding);
    font-size: large;
    z-index: 10;
}

h1 {
    font-size: xx-large;
}

ul li {
    list-style: none;
    /* Makes the nav links appear inline */
    display: inline-block;
    padding: 5px;
}

ul li a {
    color: var(--color);
}

ul li a:hover {
    background-color: var(--color2);
    transition-duration: 2s;
    transition-timing-function: ease-out;
    
}

section {
    border: 5px solid var(--color3);
    margin: 15px;
    padding: var(--padding);
    justify-content: center;
}

#aboutMe {
    /* makes border appear with specifed color */
    border: 1px solid var(--color3);
    padding: var(--padding);
    margin-top: 75px;
    font-size: large;
    display: var(--display);
    flex-wrap: var(--flex-wrap);
}

#aboutMe h2 {
    font-size: 40px;
    padding: var(--padding);
}

h3 {
    padding: var(--padding);
    color: var(--color4);
    background-color:var(--background-color2);
    display: var(--display);
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 328px;
}

#hero {
    color: var(--color2);
    display: var(--display);
    border: 5px solid var(--color3);
    margin-top: 75px;
    background-image: url("../images/Sal1.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

h2 {
    color: var(--color);
}

#myWork {
    border: 5px;
    display: var(--display);
    flex-wrap: var(--flex-wrap);
    font-size: 40px;
    border-bottom: 1px solid var(--color3);
    padding: 15px;
}

div {
    display: var(--display);
    flex-wrap: var(--flex-wrap);
    justify-content: space-evenly;
}

#workMain {
    display: var(--display);
    flex: 1 1 1000px;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--color3);
    margin: 15px;
    padding: var(--padding);
    /* adds a background image. */
    background-image: url("../images/Spanish.jpg");
    height: 800px;
    background-position: center;
    /* prevents image repetion. */
    background-repeat: no-repeat;
    /* fills the blank space in the parent box. */
    background-size: cover;
}

#workMain h3 {
    top: 728px;
    left: 35px;
}

#workMain:focus {
    border: 5px solid var(--color2);
}

#workMain:hover {
    border: 5px solid var(--color2);
}

.work {
    display: var(--display);
    flex: 1 1 600px;
    background-image: url("../images/back.jpeg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#workPtwo {
    display: var(--display);
    flex: 1 1 600px;
    background-image: url("../images/P2.jpeg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work:hover {
    border: 5px solid var(--color2);
}

footer {
    display: var(--display);
    flex-wrap: var(--flex-wrap);
    background-color: var(--background-color2);
    justify-content: center;
    /* adds a sort of line seperator above footer. */
    border-top: 5px solid var(--color3);
    margin-top: 10px;
}

h4 {
    font-size: larger;
    padding: var(--padding);
}

h4 a {
    color: var(--color)
}

h4 a:hover {
    background-color: var(--color2);
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

@media screen and (max-width: 490px) {
    #workMain h3 {
        top: 712px;
        left: -15px;
    }
}

@media screen and (max-width: 295px) {
    #workMain h3 {
        top: 670px;
        left: -15px;
    }
}