:root{
    --color:purple;
}

* {
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color:bisque;
}

nav {
    display: flex;
    flex-wrap: wrap;
    color: tomato;
    justify-content: space-between;
    border: 5px solid black;
    padding: 10px;
    font-size: large;
}

h1 {
    font-size: xx-large;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    color: tomato;
}

ul li a {
    color: tomato;
}

#aboutMe {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
}

#aboutMe h2 {
    font-size: 40px;
    padding: 10px;
}

section {
    border: 5px solid black;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section h3 {
    padding: 10px;
    background-color: bisque;
    color: aqua;
}

#hero {
    color: goldenrod;
    display: flex;
    justify-content: center;
    border: bisque;
    flex-grow: 1;
    flex-shrink: 1;
}

h2 {
    color: tomato;
}

#myWork {
    border: 5px;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    border-bottom: 1px solid black;
    padding: 15px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.workMain {
    display: flex;
    flex: 1 1 1000px;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/Horiseon-Screenshot1.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work {
    display: flex;
    flex: 1 1 600px;
    background-image: url("../images/Work\ in\ Progress.Jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid black;
    margin-top: 10px;
}

h4 {
    font-size: larger;
    padding: 10px;
}